<div class="card dogs" style="width: 18rem;">
    <img src={{ pic }} class="card-img-top" alt={{ name }}>
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        {{!-- <p>{{ breed }}</p> --}}
        <p>{{ tags }}</p>
        <p class="card-text">{{ description }}</p>
        <a href={{ link }} class="btn btn-primary" title="Learn more">More</a>
        
        <!-- Button trigger modal -->
        <button data-name={{ name }} type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" title="View note">
        View Note
        </button>
    </div>
</div>