<div class="card dogs" style="width: 18rem;">
    <img src={{ pic }} class="card-img-top" alt={{ name }}>
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        {{!-- <p>{{ breed }}</p> --}}
        <p>{{ tags }}</p>
        <p class="card-text">{{ description }}</p>
        <a href={{ link }} class="btn btn-primary" title="Click to favorite"><i class="far fa-heart"></i>More</a>
        <a href={{ note }} class="btn btn-secondary" title="View note"><i class="far fa-heart"></i>View Note</a>
    </div>
</div>